
.fakebottom{
    height: 10vh;
    bottom: 0;
    width: 100%;
}

.bottom-nav{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 10vh;
    background-color: #f8f8f6;
}



.bottom-nav ul{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.bottom-nav ul li{
    list-style: none;
    width: 33.3%;
    justify-content: center;
    
}

.bottom-nav ul li img{
    width: auto;
    height: 30px;
    display: inline-block;
    margin: auto;
}
.bottom-nav ul li a{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    color:#1b1b19;
    height: 10vh;
}

.bottom-nav ul li span{
    display: block;
    width: 100%;
    text-align: center;
}

#content
{
    position: fixed;
    top: 8vh;
    width: 100%;
    height: 82vh;
    border: none;
    margin: 0;

}

