{%extends "base.html"%}
{% block body %}
<div class="container">

    <!-- <div class="mb-3 form-floating">
        <input type="text" class="form-control" id="old-password" placeholder="旧密码" name="password">
        <label for="login-password">旧密码</label>
    </div> -->
    <div class="mb-3 form-floating">
        <input type="password" class="form-control" id="new-password" placeholder="新密码" name="password">
        <label for="new-password">新密码</label>
    </div>

    <div class="mb-3 form-floating">
        <input type="password" class="form-control" id="repeatnew-password" placeholder="重复新密码" name="password">
        <label for="repeatnew-password">重复新密码</label>
    </div>

    <button type="submit" class="btn btn-primary" id="login-btn">提交</button>


</div>


<script type=text/javascript>
    $('#login-btn').bind('click',function(){
        
        a = $('#new-password').val()
        b = $('#repeatnew-password').val()
        if (a != b){
            alert("密码不一致")
            return
        }
        $.ajax({
            type: "POST",
            url: '/user/alterpassword',
            async : false,
            data: {'newpass':$('#new-password').val(),'repeatnewpass':$('repeatnew-password').val()},
            success: function () {
                window.location.href = '/user/home'
            }
        });
    });
   
    
</script>
{% endblock %}