<!DOCTYPE html>

<link rel="stylesheet" href="{{url_for('static',filename = 'mystyle/guidtabbar.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename = 'bootstrap/css/bootstrap.min.css')}}">
<script src="{{url_for('static',filename = 'bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static',filename = 'fontawesome-free-6.4.0-web/css/all.min.css')}}">
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>学习平台</title>
        <meta>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark base_navbar" style="height: 8vh;background-color: #e3f2fd;">
            <div class="pccontainer">
                <i class="fa-solid fa-splotch fa-2xl" style="color: #f8f9fc; margin-right:10px"></i>
                <a class="navbar-brand" href="{{ url_for('main') }}">学习助手</a>
            </div>
        </nav>

        <iframe id="content" name = “content” src="information/readarticlelist"></iframe>
        <div class="bottom-nav">
            <ul>
                <li>
                    <a href="information/readarticlelist" target=“content”>
                        <img src="images/file-word.png" alt="">
                        <span>文章</span>
                    </a>
                </li>

                <li>
                    <a href="paper/answerpaperlist" target=“content”>
                        <img src="images/dice.png" alt="">
                        <span>答题</span>
                    </a>
                </li>

                <li>
                    <a href="user/home" target=“content”>
                        <img src="images/home.png" alt="">
                        <span>我的</span>
                    </a>
                </li>
            </ul>
        </div>
    </body>
<script type=text/javascript>

</script>
</html>