{%extends "createcenter.html"%}

{% block body %}

<link rel="stylesheet" href="{{url_for('static',filename = 'bootstrapfileinput/css/fileinput.min.css')}}">
<script src="{{url_for('static',filename = 'bootstrapfileinput/js/plugins/buffer.min.js')}}"></script>
<script src="{{url_for('static',filename = 'bootstrapfileinput/js/plugins/filetype.min.js')}}"></script>
<script src="{{url_for('static',filename = 'bootstrapfileinput/js/plugins/piexif.min.js')}}"></script>
<script src="{{url_for('static',filename = 'bootstrapfileinput/js/plugins/sortable.min.js')}}"></script>
<script src="{{url_for('static',filename = 'bootstrapfileinput/js/fileinput.min.js')}}"></script>
<script src="{{url_for('static',filename = 'bootstrapfileinput/js/locales/LANG.js')}}"></script>

<input type="text" id="learning_title" style="font-size: xx-large;" class="form-control" placeholder="请输入标题"
    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" />
<div class="file-loading">
    <input id="input-folder-3" name="input-folder-3[]" type="file" multiple>
</div>

<script type=text/javascript>
$(document).ready(function() {
    $("#input-folder-3").fileinput({
        language: 'zh', //设置语言
        uploadUrl: "/files/uploadfile",
        maxFilePreviewSize: 10240*5,
        browseLabel: "选择文件",
        uploadLabel: "上传",
        removeLabel: "删除",
        msgPlaceholder:"选择的文件",
        dropZoneTitle:"文件"
    });
});

</script>

{% endblock %}